<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person list</h1>
<a href="addPerson.html">Add Person</a>
<br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Address</th>
            <th>Age</th>
        </tr>
        <tr th:each="person:${persons}">
            <td th:utext="${person.id}">...</td>
            <td th:utext="${person.firstName}">...</td>
            <td th:utext="${person.lastName}">...</td>
            <td th:utext="${person.address}">...</td>
            <td th:utext="${person.age}">...</td>
            <td>
                <form th:action="@{/addBill}" method="get">
                    <input type="hidden" th:value="${person.id}" th:name="personId" />
                    <button type="submit">Add bill</button>
                </form>
            </td>
            <td>
                <form th:action="@{/billList}" method="get">
                    <input type="hidden" th:value="${person.id}" th:name="personId" />
                    <button type="submit">Show bills</button>
                </form>
            </td>

        </tr>
    </table>
</div>
</body>
</html>